.env
*.env
.env.*
!.env.example
!node_modules/*
# Ignore bower_components, node_modules and dist folders during uploads unless explicitly
# included using ! /folder/to/include or glob patterns such as "**/*" to
# match all files in the project root folder (and any sub-folders).
bower_components/
dist/
node_modules/
public/assets/vendor/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/
/.vscode/
/.git/
